## Copy to ~/.muttrc-credentials.local and modify.
## Mandatory configuration.
## First file to be sourced: defines variables to be referenced by other files.

set pgp_default_key = "0x1234567890ABCDEF"
set pgp_sign_as     = "0x1234567890ABCDEF"
set my_name         = "Bilbo Baggins"
set my_user         = "bilbo"
set my_server       = "shire.org"

## Configure if online.
set my_pass         = "mypassword"

## Configure if account domain is different than mail server.
set my_imap_server  = "$my_server"
set my_pop_server   = "$my_server"
set my_smtp_server  = "$my_server"

## Configure if URL uses non standard subdomain or port.
set my_imap_url     = "imaps://imap.$my_imap_server"
set my_pop_url      = "pops://pop.$my_imap_server"
set my_smtp_url     = "smtps://$my_user@$my_server@smtp.$my_smtp_server"
